<mat-expansion-panel [expanded]="hobby().expanded ?? false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ hobby().name }}</mat-panel-title>
  </mat-expansion-panel-header>

  @if (hobby().items?.length) {
    <ul class="bullets">
      @for (item of hobby().items; track item) {
        <li>{{ item }}</li>
      }
    </ul>
  }

  @if (hobby().images?.length) {
    <div class="images">
      @for (src of hobby().images; track src) {
        <img [src]="src" [alt]="hobby().name" />
      }
    </div>
  }
</mat-expansion-panel>
