@use '@angular/material' as mat;

:host {
  display: block;

  @include mat.chips-overrides(
    (
      container-height: 1.6em,
      container-shape-radius: 3px,
      outline-color: #dcdcdc,
      outline-width: 1px,
      elevated-container-color: transparent,
      label-text-font: inherit,
      label-text-size: 0.9em,
      label-text-line-height: 1.4,
      label-text-weight: 400,
      label-text-tracking: normal,
      label-text-color: var(--ink),
      hover-state-layer-opacity: 0,
      focus-state-layer-opacity: 0,
    )
  );
}

:host ::ng-deep {
  .mdc-evolution-chip-set .mdc-evolution-chip-set__chips {
    gap: 0.3em;
    margin: 0;
  }

  .mdc-evolution-chip-set .mdc-evolution-chip {
    margin: 0;
  }

  .mat-mdc-chip .mdc-evolution-chip__action--primary {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
