:host {
  display: block;
}

.dates {
  flex: 0 0 auto;
  justify-content: flex-end;
  margin: 0 0.9em 0 1em;
  white-space: nowrap;
}

@media (max-width: 720px) {
  .dates {
    margin: 0;
    justify-content: flex-start;
  }
}
